@page "/hands/details"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Hand</h2>
    <hr />
    @if (hand is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">NameHand</dt>
            <dd class="col-sm-10">@hand.NameHand</dd>
            <dt class="col-sm-2">BaseChips</dt>
            <dd class="col-sm-10">@hand.BaseChips</dd>
            <dt class="col-sm-2">BaseMult</dt>
            <dd class="col-sm-10">@hand.BaseMult</dd>
            <dt class="col-sm-2">ImageHand</dt>
            <dd class="col-sm-10">@hand.ImageHand</dd>
        </dl>
        <div>
            <a href="@($"/hands/edit?id={hand.Id}")">Edit</a> |
            <a href="@($"/hands")">Back to List</a>
        </div>
    }
</div>

@code {
    private Hand? hand;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        hand = await context.Hands.FirstOrDefaultAsync(m => m.Id == Id);

        if (hand is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
