@page "/consumables/create"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@using BalatroWikiApp.Enums;
@using AntDesign
@inject IDbContextFactory<BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Consumable</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Consumable" OnValidSubmit="AddConsumable" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="nameconsumable" class="form-label">NameConsumable:</label>
                <InputText id="nameconsumable" @bind-Value="Consumable.NameConsumable" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Consumable.NameConsumable" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="typeconsumable" class="form-label">TypeConsumable:</label>
                <EnumSelect TEnum="TypeConsumable" @bind-Value="Consumable.TypeConsumable" />
                <ValidationMessage For="() => Consumable.TypeConsumable" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="effectconsumable" class="form-label">EffectConsumable:</label>
                <InputText id="effectconsumable" @bind-Value="Consumable.EffectConsumable" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Consumable.EffectConsumable" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="imageconsumable" class="form-label">ImageConsumable:</label>
                <InputText id="imageconsumable" @bind-Value="Consumable.ImageConsumable" class="form-control" aria-required="true" />
                <ValidationMessage For="() => Consumable.ImageConsumable" class="text-danger" />
            </div>

            @if (Consumable.TypeConsumable == TypeConsumable.Planet)
            {
                <div class="mb-3">
                    <label for="namehand" class="form-label">NameHand:</label>
                    <InputSelect id="idhand" @bind-Value="Consumable.IdHand" class="form-control" aria-required="true">
                        <option selected value="">Sélectionnez une main </option>
                        @foreach (var hand in _hands)
                        {
                            <option value="@hand.Id">@hand.NameHand</option>
                        }
                        <ValidationMessage For="() => Consumable.IdHand" class="text-danger" />
                    </InputSelect>
                </div>
            }
            @if (Consumable.TypeConsumable == TypeConsumable.Spectral)
            {
                <div class="mb-3">
                    <label for="nameseal" class="form-label">NameSeal:</label>
                    <InputSelect id="idseal" @bind-Value="Consumable.IdSeal" class="form-control" aria-required="true">
                        <option selected value="">Sélectionnez un sceau </option>
                        @foreach (var seal in _seals)
                        {
                            <option value="@seal.Id">@seal.NameSeal</option>
                        }
                        <ValidationMessage For="() => Consumable.IdSeal" class="text-danger" />
                    </InputSelect>
                </div>
            }
            @if (Consumable.TypeConsumable == TypeConsumable.Tarot)
            {
                <div class="mb-3">
                    <label for="typeenhanced" class="form-label">TypeEnhanced:</label>
                    <InputSelect id="idenhanced" @bind-Value="Consumable.IdEnhancedcard" class="form-control" aria-required="true">
                        <option selected value="">Sélectionnez une amélioration</option>
                        @foreach (var enhanced in _enhanced)
                        {
                            <option value="@enhanced.Id">@enhanced.TypeEnhanced</option>
                        }
                        <ValidationMessage For="() => Consumable.IdEnhancedcard" class="text-danger" />
                    </InputSelect>
                </div>
            }
            @if (Consumable.TypeConsumable == TypeConsumable.Tarot || Consumable.TypeConsumable == TypeConsumable.Spectral)
            {
                <div class="mb-3">
                    <label for="typeothereffect" class="form-label">TypeOtherEffect:</label>
                    <EnumSelect TEnum="TypeOtherEffect" @bind-Value="Consumable.TypeOtherEffect" />
                    <ValidationMessage For="() => Consumable.TypeOtherEffect" class="text-danger" />
                </div>
            }
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/consumables">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Consumable Consumable { get; set; } = new();
    private List<Hand> _hands = new();
    private List<Seal> _seals = new();
    private List<Enhancedcard> _enhanced = new();

    protected override void OnInitialized()
    {
        using var context = DbFactory.CreateDbContext();
        _hands = context.Hands.ToList();
        _seals = context.Seals.ToList();
        _enhanced = context.Enhancedcards.ToList();
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddConsumable()
    {
        using var context = DbFactory.CreateDbContext();
        context.Consumables.Add(Consumable);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/consumables");
    }
}
