@page "/vouchers/details"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Voucher</h2>
    <hr />
    @if (voucher is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">NameVoucher</dt>
            <dd class="col-sm-10">@voucher.NameVoucher</dd>
            <dt class="col-sm-2">DescriptionVoucher</dt>
            <dd class="col-sm-10">@voucher.DescriptionVoucher</dd>
            <dt class="col-sm-2">PriceVoucher</dt>
            <dd class="col-sm-10">@voucher.PriceVoucher</dd>
            <dt class="col-sm-2">StateVoucher</dt>
            <dd class="col-sm-10">@voucher.StateVoucher</dd>
        </dl>
        <div>
            <a href="@($"/vouchers/edit?id={voucher.Id}")">Edit</a> |
            <a href="@($"/vouchers")">Back to List</a>
        </div>
    }
</div>

@code {
    private Voucher? voucher;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        voucher = await context.Vouchers.FirstOrDefaultAsync(m => m.Id == Id);

        if (voucher is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
