@page "/boosterpacks/details"
@using Microsoft.EntityFrameworkCore
@using BalatroWikiApp.Models
@inject IDbContextFactory<BalatroWikiApp.Models.BalatroDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Boosterpack</h2>
    <hr />
    @if (boosterpack is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">NamePack</dt>
            <dd class="col-sm-10">@boosterpack.NamePack</dd>
            <dt class="col-sm-2">NumberPack</dt>
            <dd class="col-sm-10">@boosterpack.NumberPack</dd>
            <dt class="col-sm-2">NumberChoices</dt>
            <dd class="col-sm-10">@boosterpack.NumberChoices</dd>
            <dt class="col-sm-2">NumberProposition</dt>
            <dd class="col-sm-10">@boosterpack.NumberProposition</dd>
            <dt class="col-sm-2">DescriptionPack</dt>
            <dd class="col-sm-10">@boosterpack.DescriptionPack</dd>
            <dt class="col-sm-2">PricePack</dt>
            <dd class="col-sm-10">@boosterpack.PricePack</dd>
            <dt class="col-sm-2">ImageBoosterpack</dt>
            <dd class="col-sm-10">@boosterpack.ImageBoosterpack</dd>
        </dl>
        <div>
            <a href="@($"/boosterpacks/edit?id={boosterpack.Id}")">Edit</a> |
            <a href="@($"/boosterpacks")">Back to List</a>
        </div>
    }
</div>

@code {
    private Boosterpack? boosterpack;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        boosterpack = await context.Boosterpacks.FirstOrDefaultAsync(m => m.Id == Id);

        if (boosterpack is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
